@import './../styles/mixins/scrollbar';
@import './../styles/variables';

// Main Container
.portfolio-entry {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
    min-height: 100vh;
    overflow: auto;
    background-color: $background-body;
    
    @include scrollbar;
}

.close {
    --icon-size: 2rem;

    margin-left: -10px;
    margin-right: 1rem;

    &__icon {
        background-color: $links;

        &:hover {
            background-color: $focus;
        }
    }
}

// Info Box
.info-box {
    background: $color-black;
    box-shadow: 0px 10px 3px 3px rgba($color-black, 0.25);
    padding: 1rem 1.5rem;

    flex: 1 1 auto;

    display: flex;
    flex-direction: column;

    &__header {
        display: flex;
        align-items: center;

        h1 {
            margin: 0;
            line-height: 1;
        }
    }

    &__content {
        flex: 1 1 auto;
        margin-top: 1rem;

        display: flex;
        flex-direction: column;;
    }
}

.info {
    display: flex;
    flex-direction: column;

    &--description {
        text-align: justify;

        p {
            margin: 0;
        }
    }

    &__title {
        font-weight: 600;
        color: #fff;
        margin-bottom: 0.5rem;
    }

    &__content {
        + .info-title {
            margin-top: 1rem;
        }

        // Inner content Styling
        color: #868a8e;

        p {
            margin: 0;
        }
    }

    + .info {
        margin-top: 1rem;
    }
}

// Content
.content-wrap {
    
}

.content {
    height: 100vh;

    display: grid;
    grid-template-columns: 320px auto;
    grid-gap: 0;
    grid-template-rows: 100vh;
    grid-template-areas: "entry-info entry-wrap";
}

.content__header {
    grid-area: entry-header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $background-alt;
    padding: 1rem 1.5rem;

    > * {
        margin: none;
    }
}

.content__text {
    grid-area: entry-text;
}

.content__wrap {
    overflow-y: auto;
    grid-area: entry-wrap;

    &__inner {
        margin-left: auto;
        margin-right: auto;

        max-width: 970px;
        padding: 0 1rem 0 1rem;
    }
}

.content__info {
    grid-area: entry-info;
    display: flex;
    flex-direction: column;
}

.content__gallery {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;

    max-width: 970px;
}

.content__gallery {
    grid-area: entry-gallery;
}

// Text Styling
.content__text {
    h2 {
        padding-bottom: 0.75rem;
        border-bottom: 1px solid darken($border, 65%);
    }

    h1, h2, h3, h4, h5, h6 {
        color: #fff;
    }

    color: #868a8e;
    font-size: 1.07rem;

    li + li {
        margin-top: 1rem;
    }
}

.main-header {
    padding: 0.5rem 1rem;

    &-sticky {
        position: fixed;
        z-index: 100;
        top: 0.5rem;
        background-color: $background-alt;
        padding: 1rem;
        border-radius: 8px;
    }
}

.buttons {
    margin-top: auto;
    margin-bottom: 0.75rem;
}

.button {
    margin-right: 0;
    display: flex;
    justify-content: center;

    --icon-color: #fff;

    > span {
        flex: 1 1 auto;

        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 60%;
    }

    &__icon {
        margin-left: 1rem;
    }

    + .button {
        margin-top: 0.5rem;
    }
}
 
@media (max-width: 767px) {
    .content {
        height: auto;
    
        grid-template-columns: auto;
        grid-gap: 0;
        grid-template-rows: auto;
        grid-template-areas: "entry-gallery" "entry-info" "entry-text";

        &__text {
            padding: 0 1.5rem 1.5rem 1.5rem;
        }
    }
}