@import './variables';

.badge {
    border-radius: 7px;
    line-height: 1.2em;
    font-size: 0.87rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0.5rem 0.75rem;
    color: $text-main;

    --icon-size: 1.2em;

    &.badge--small {
        font-size: 0.75rem;
        padding: 0.25rem 0.5rem;

        --icon-size: 1em;
    }
}

.badge--bg { background-color: $background; }
.badge--bg-alt { background-color: $background-alt; }
.badge--success { background-color: $color-success; color: #fff; }
.badge--warning { background-color: $color-warning; color: #fff; }
.badge--danger { background-color: $color-danger; color: #fff; }
.badge--primary { background-color: $color-primary; color: #fff; }