$TAG_MARGIN: 0.5rem;

.tag-cloud {
    display: flex;
    flex-wrap: wrap;
    margin: #{-$TAG_MARGIN * 0.5} #{-$TAG_MARGIN * 0.5};

    .tag-cloud__tag {
        --icon-block-size: 1rem;
        
        margin: $TAG_MARGIN * 0.5;
        flex: 0 0 auto;
    }
}