.text-styling {
    font-size: 1rem;

    strong,
    b {
        color: $text-bright;
        font-weight: 400;
    }

    section + h1 {
        margin-top: 3rem;
    }

    h2 {
        margin-top: 2.5rem;
    }
}

.text-icon {
    display: flex;
    align-items: center;
    
    .icon:first-child {
        margin-right: 0.5rem;
    }

    .icon:last-child {
        margin-left: 0.5rem;
    }
}