$background-body: #202b38;
$background: #161f27;
$background-alt: #1a242f;

$selection: #161f27;

$text-main: #afafaf;
$text-bright: #dbdbdb;
$text-muted: #868a8e;
$line-height: 1.4em;

$color-primary: #41adff;
$color-success: #29CD41;
$color-warning: #FFBE2E;
$color-danger: #FF6057;
$color-black: #000;
$color-imperial: #693668;

$links: $color-primary;
$focus: #0096bfab;
$border: #dbdbdb;
$code: #ffbe85;

$animation-duration: 0.1s;
$button-hover: #324759;

$scrollbar-thumb: $button-hover;
$scrollbar-thumb-hover: lighten($scrollbar-thumb, 8%);

$form-placeholder: #a9a9a9;
$form-text: #ffffff;
