$background-body: #171a1b;
$background: #24282a;
$background-alt: #191d1f;

$selection: #161f27;

$text-bright: #fff;
$text-main: darken($text-bright, 30%);
$text-muted: rgba($text-main, 0.7);
$line-height: 1.5em;

$color-primary: #41adff;
$color-success: #29CD41;
$color-warning: #FFBE2E;
$color-danger: #FF6057;
$color-black: #000;
$color-white: #fff;
$color-imperial: #693668;

$links: $color-primary;
$focus: #0096bfab;
$border: #dbdbdb;
$code: #ffbe85;

$animation-duration: 0.1s;
$button-hover: #324759;

$scrollbar-thumb: darken($color-primary, 35%);
$scrollbar-thumb-hover: lighten($scrollbar-thumb, 8%);

$form-placeholder: #a9a9a9;
$form-text: #ffffff;

$navbar-collapse-breakpoint: 660px;
$navbar-height: 100px;
$navbar-height-collapsed: 70px;

$easing-cubic-in-out: cubic-bezier(0.455, 0.030, 0.515, 0.955);
$easing-sine-in-out: cubic-bezier(0.445, 0.050, 0.550, 0.950);
