.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

$transition-func: cubic-bezier(0.215, 0.610, 0.355, 1.000);

.home-page {
    flex: 1 1 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.intro {
    padding: 1rem;
    max-width: 992px;

    display: flex;
    justify-content: center;

    &__info-col {
        flex: 0 0 550px;
    }

    &__animation-col {
        margin-left: 5rem;

        flex: 1 1 auto;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__animation-wrap {
        width: 100%;
        min-height: 250px;

        > img {
            filter: drop-shadow(0px 0px 4px var(--theme-color));
        }
    }
}

.info {
    &__header {
        font-weight: 300;
        margin-bottom: 3rem;
        font-size: 7vh;
        line-height: 1.3em;
        white-space: nowrap;

        > span:first-child {
            position: relative;

            &::after {
                content: " ";
                display: block;

                position: absolute;
                left: 0;
                right: 0;
                bottom: -1.5rem;
                border: 1px solid white;
            }
        }

        > span:last-child {
            transition: color var(--slide-transition-duration) $transition-func;

            color: var(--theme-color);
        }
    }

    &__description-wrap {
        margin-bottom: 3rem;
    }

    &__description {
        font-size: 4vh;
        line-height: 1.2em;
        font-weight: 300;
        min-height: 99px;
        position: relative;
        top: 0;
        margin: 0;

        strong {
            font-weight: 300;
        }
    }

    &__actions {
        white-space: nowrap;
        
        > * + * {
            margin-left: 1rem;
        }

        &__interactive {
            transition: var(--button-default-transition), // Keep the default transtition
                        background-color var(--slide-transition-duration) $transition-func;

            background-color: var(--button-color);
        }
    }
}