.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

$transition-func: cubic-bezier(0.215, 0.610, 0.355, 1.000);

.home-page {
    flex: 1 1 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.intro {
    padding: 2rem;
    max-width: 992px;

    display: flex;
    justify-content: center;

    &__info-col {
        flex: 0 0 660px;
    }

    &__animation-col {
        margin-left: 5rem;

        flex: 1 1 auto;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__animation-wrap {
        width: 100%;
        min-height: 250px;

        > img {
            filter: drop-shadow(0px 0px 4px var(--theme-color));
        }
    }

    // Responsive
    @media (max-width: 1070px) {
        flex-direction: column;

        &__animation-col {
            order: 0;
            margin-left: 0;
            padding: 2rem 0;
        }

        &__animation-wrap {
            min-height: 0;
            max-width: 350px;
            margin: 0 auto;
        }

        &__info-col {
            flex: 1 1 auto;
            order: 1;
            max-width: 635px;
        }
    }

    @media (max-width: 660px) {
        padding: 0 1rem 1rem 1rem;

        &__animation-col {
            text-align: center;
        }

        &__animation-wrap {

            /*
            display: flex;
            flex-direction: column;
            align-items: center;
            */
            display: inline-block;
            width: auto;

            img {
                display: inline-block;
                height: calc(40vh - var(--navbar-height));
                min-height: 120px;
            }
        }
    }

    @media (max-width: 350px) {
        &__animation-col {
            padding: 1rem 0;
        }
    }
}

.info {
    &__header {
        font-weight: 300;
        margin-bottom: 3rem;
        font-size: 68px;
        line-height: 1.3em;
        white-space: nowrap;

        > span:first-child {
            position: relative;

            &::after {
                content: " ";
                display: block;

                position: absolute;
                left: 0;
                right: 0;
                bottom: -1.5rem;
                border: 1px solid white;
            }
        }

        > span:last-child {
            transition: color var(--slide-transition-duration) $transition-func;

            color: var(--theme-color);
        }
    }

    &__description-wrap {
        margin-bottom: 3rem;
    }

    &__description {
        font-size: 38px;
        line-height: 1.2em;
        font-weight: 300;
        min-height: 99px;
        position: relative;
        top: 0;
        margin: 0;

        strong {
            font-weight: 300;
        }
    }

    &__actions {
        white-space: nowrap;
        
        > * + * {
            margin-left: 1rem;
        }

        &__interactive {
            transition: var(--button-default-transition), // Keep the default transtition
                        background-color var(--slide-transition-duration) $transition-func;

            background-color: var(--button-color);
        }
    }

    
    @media (max-width: 660px) {
        &__header {
            margin-bottom: 1.5rem;
            font-size: 32px;

            > span:first-child::after {
                bottom: -0.75rem;
            }
        }

        &__description-wrap {
            margin-bottom: 1.5rem;
        }

        &__description {
            font-size: 20px;
            min-height: 0;
        }
    }

    @media (max-width: 480px) {
        &__actions {
            display: flex;
            flex-direction: column;

            > * + * {
                margin-left: 0;
                margin-top: 1rem;
            }
        }   
    }
}