@import "./../styles/variables";

.portfolio-items {
    &--highlight {
        .portfolio-item:not(.portfolio-item--highlighted) {
            filter: opacity(50%);
        }
    }
}

.portfolio-item {
    display: flex;
    flex-direction: column;

    height: 100%;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    box-shadow: none;
    transition: filter 300ms cubic-bezier(0.455, 0.030, 0.515, 0.955),
                transform 200ms cubic-bezier(0.445, 0.050, 0.550, 0.950),
                box-shadow 200ms cubic-bezier(0.445, 0.050, 0.550, 0.950);

    

    &--highlighted {
        transform: translate3d(0, 0, 0) scale(1.032);
        box-shadow: 0px 10px 13px -7px #000000,
                    5px 5px 15px 5px rgba(0,0,0,0);
    }
}

.portfolio-item__content {
    flex: 1 1 auto;

    display: flex;
    flex-direction: column;

    &:hover {
        text-decoration: none;
    }
}

.portfolio-item__image-wrap {
    flex: 0 1 auto;
}

.portfolio-item__image {
    object-fit: fill;
}

.portfolio-item__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.portfolio-item__title {
    &__header {
        margin: 0;
        padding: 1rem 1rem 0 1rem;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1em;
        z-index: 1;
        color: $text-bright;
    }

    &__date {
        padding: 0 1rem;
        font-size: 0.8rem;
        line-height: 1rem;
        color: $text-muted;

        display: flex;
        align-items: center;
    }
}

.portfolio-item__stack {
    padding: 1rem 1rem 0 0;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    > * {
        height: 1.5rem;

        + * {
            margin-left: 0.5rem;
        }
    }
}

.portfolio-item__description {
    flex: 1 1 auto;

    padding: 1rem;
    margin: 0;
    color: $text-main;
}

.portfolio-item__tags {
    flex: 0 0 auto;
    padding: 0 1rem 1rem 1rem;
}

.portfolio-item__actions {
    display: flex;

    $action-color: $background;

    > * {
        background: $action-color;
        padding: 0.5rem 1rem;
        color: $text-main;
        flex: 1 1 auto;

        display: inline-flex;
        align-items: center;
        justify-content: center;

        transition: color 200ms ease-in-out;
        
        border-top: 1px solid lighten($action-color, 5%);

        &:hover {
            color: $text-bright;
            text-decoration: none;
        }

        span {
            margin-left: 0.5rem;
        }

        + * {
            border-left: 1px solid lighten($action-color, 5%);
        }
    }
}

.heading {
    margin-top: 0.75rem;
    margin-bottom: 1.4rem;
    padding-bottom: 1.4rem;
    border-bottom: 1px solid darken($text-muted, 40%);

    p {
        margin-bottom: 0;
    }

    @media (max-width: #{$navbar-collapse-breakpoint - 1px}) {
        p {
            text-align: justify;
        }
    }
}

.transition-mask {
    display: none;
    background: $background-body;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}