@import "./../styles/variables";

.portfolio-items {
    &--highlight {
        .portfolio-item:not(.portfolio-item--highlighted) {
            filter: opacity(50%);
        }
    }
}

.portfolio-item {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 215px 2.5rem 1.5rem auto auto;
    grid-template-areas: "image image" "title tech" "date tech" "description description" "tags tags";

    height: 100%;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    box-shadow: none;
    transition: filter 300ms cubic-bezier(0.455, 0.030, 0.515, 0.955),
                transform 200ms cubic-bezier(0.445, 0.050, 0.550, 0.950),
                box-shadow 200ms cubic-bezier(0.445, 0.050, 0.550, 0.950);

    &:hover {
        text-decoration: none;
    }

    &--highlighted {
        transform: translate3d(0, 0, 0) scale(1.032);
        box-shadow: 0px 10px 13px -7px #000000,
                    5px 5px 15px 5px rgba(0,0,0,0);
    }
}

.portfolio-item__image-wrap {
    grid-area: image;

    max-height: 215px;
}

.portfolio-item__image {
    object-fit: fill;
}

.portfolio-item__title {
    grid-area: title;

    margin: 0;
    padding: 1rem 1rem 0 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1em;
    z-index: 1;
    color: $text-bright;
}

.portfolio-item__date {
    grid-area: date;

    padding: 0 1rem;
    font-size: 0.8rem;
    line-height: 1rem;
    color: $text-muted;

    display: flex;
    align-items: center;
}

.portfolio-item__description {
    grid-area: description;

    padding: 1rem;
    margin: 0;
    color: $text-main;
}

.portfolio-item__stack {
    grid-area: tech;
    
    padding: 1rem 1rem 0 0;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    > * {
        height: 1.5rem;

        + * {
            margin-left: 0.5rem;
        }
    }
}

.portfolio-item__tags {
    grid-area: tags;

    padding: 0 1rem 1rem 1rem;
}