@import './../styles/variables';

$color-transition-duration: 200ms;
$scale-transition-duration: 150ms;
$transition-easing: cubic-bezier(0.445, 0.050, 0.550, 0.950);

a.button {
    &:hover {
        text-decoration: none;
    }
}

@mixin apply-color($bg, $color) {
    background-color: darken($bg, 15%);
    color: $color;

    &:focus,
    &:hover {
        &::before {
            opacity: 1;
        }

        color: $color;
    }
}

@mixin apply-outline($color) {
    background-color: transparent;
    color: $color;
    border: solid $color;

    transition: var(--button-default-transition),
                color $color-transition-duration $transition-easing,
                border-color $color-transition-duration $transition-easing;

    &:before {
        content: none;
    }

    &:focus,
    &:hover {
        border-color: darken($color, 15%);
        color: darken($color, 15%);
    }
}

.button {
    --button-default-transition: transform #{$scale-transition-duration} #{$transition-easing};
    --border-width: 0px;

    position: relative;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 300;

    border-width: var(--border-width);
    border-radius: 5px;

    padding: calc(0.75em - var(--border-width) * 2) calc(1.25em - var(--border-width) * 2);

    transition: var(--button-default-transition); 

    // Pseudo element for covering the button on hover,
    // seems hacky but allows for idependant color switching
    // on home page for example
    &::before {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        background-color: rgba(#000, 0.2);
        opacity: 0;
        transition: opacity $color-transition-duration $transition-easing;
    }

    &:active {
        transform: scale(1.025);
    }

    &__content {
        position: relative;
        z-index: 1;
    }

    &--outline {
        --border-width: 0px;
    }

    // Sizes
    &--size-sm {
        font-size: 0.8rem;
    }

    &--size-lg {
        font-size: 1.5rem;

        &.button--outline {
            --border-width: 2px;
        }
    }

    // Colors
    &--color-primary {
        @include apply-color($color-primary, $color-white);

        &.button--outline {
            @include apply-outline($color-white);
        }
    }
    &--color-success {
        @include apply-color($color-success, $color-white);

        &.button--outline {
            @include apply-outline($color-white);
        }
    }
    &--color-warning {
        @include apply-color($color-warning, $color-white);

        &.button--outline {
            @include apply-outline($color-white);
        }
    }
    &--color-danger {
        @include apply-color($color-danger, $color-white);

        &.button--outline {
            @include apply-outline($color-white);
        }
    }
    &--color-dark {
        @include apply-color($color-black, $color-white);

        &.button--outline {
            @include apply-outline($color-white);
        }
    }
    &--color-white {
        @include apply-color($color-white, $color-black);

        &.button--outline {
            @include apply-outline($color-white);
        }
    }
    &--color-link {
        color: $color-white;
        background: none;
        
        &:before {
            content: none;
        }

        &:focus,
        &:hover {
            color: darken($color-white, 15%);
        }
    }
}

