@import './../styles/variables';

$shadow-first: 10px 10px 8px 0px rgba(0,0,0,0.55);
$shadow-second: 5px 5px 4px 0px rgba(0,0,0,0.55);
$shadow-third: 2px 2px 4px 0px rgba(0,0,0,0.55);

.container {
    position: relative;
}

.navigationButtonLeft,
.navigationButtonRight {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;

    --icon-size: 2rem;
    --icon-color: #{$text-main};
}
.navigationButtonLeft {
    left: 0;
}
.navigationButtonRight {
    right: 0;
}

.gallery {
    position: relative;
}

.galleryItem {
    position: absolute;
    top: 0;
    left: 0;

    max-width: calc(100% - 40px);
    border-radius: 5px;
    transform-origin: center right;
    overflow: hidden;
    z-index: 0;
}

.active {
    position: relative;
    z-index: 1;
}