@import './../styles/variables';

.gallery {
    position: relative;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    &__rail {
        display: flex;
        align-items: stretch;
    }

    &__item {
        scroll-snap-align: start;
        flex: 0 0 var(--gallery-width, 100%);
    }
}