@mixin fill-wrap() {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

$transition-func: cubic-bezier(0.215, 0.610, 0.355, 1.000);

.wrap {
    position: relative;
}

.particles {
    @include fill-wrap();
}

.color-overlay {
    transition: background var(--transition-duration) $transition-func;
    background-color: var(--ambient-color);

    @include fill-wrap();
}

.spotlight {
    position: absolute;
    border-radius: 50%;

    transition: background var(--transition-duration) $transition-func,
                box-shadow var(--transition-duration) $transition-func;

    box-shadow: 0px 0px 100px 120px var(--light-color);
    background-color: var(--light-color);
    
    filter: blur(10px);
}