@import './../styles/variables';

.icon {
    display: inline-block;
    width: var(--icon-block-size, initial);
    height: var(--icon-block-size, initial);

    font-size: var(--icon-size, inherit);

    + * {
        vertical-align: middle;
    }

    &--fixed-width {
        width: 1.2rem;
    }

    &--shadow {
        filter: drop-shadow(0px 0px 5px var(--icon-shadow-color, #000));
    }
}

.icon-fa {
    color: var(--icon-color, color);
    width: 1em;

    &.fa-sm {
        width: 0.5em
    }
}
