$blurSize: 4px;

.image-wrap {
    position: relative;
    overflow: hidden;
}

.image {
    display: block;
}

.image--low-res {
    @extend .image;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    width: 100%;
    height: 100%;

    filter: blur($blurSize);
}

.image--high-res {
    @extend .image;

    width: 100%;

    &:not(.loaded) {
        //visibility: hidden;
    }
}