@import './../styles/variables';

.content {
    height: auto;

    &__gallery {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: -1;

        transform: translateY(
            calc(
                var(--scroll-length, 0) * -50%
            )
        );

        &::after {
            content: " ";
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            background: linear-gradient(
                0deg,
                rgba(0,0,0,1) 0,
                rgba(0,0,0,0.85) 30%,
                rgba(0,0,0,0) 100%
            );
            z-index: 100;
            opacity: var(--scroll-length, 0);
        }   
    }

    &__wrap {
        // default margin to prevent jumping
        margin-top: calc(936 / 1052 * 100vw);
    }
}

.navbar {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 2000;
    background: rgba(0, 0, 0, var(--scroll-length, 0));
    padding: 0.5rem;

    display: flex;

    --icon-color: #{$text-bright};
    --icon-size: 2rem;
}
