@import './../styles/variables';

.info {
    display: flex;
    flex-direction: column;

    &--description {
        p {
            margin: 0;
        }
    }

    &__title {
        font-weight: 600;
        color: #fff;
        margin-bottom: 0.5rem;
    }

    &__content {
        + .info-title {
            margin-top: 1rem;
        }

        // Inner content Styling
        color: #868a8e;

        p {
            margin: 0;
        }
    }

    + .info {
        margin-top: 1rem;
    }
}

.buttons {
    margin-top: auto;
    padding-top: 1rem;
}

.button {
    margin-right: 0;
    display: flex;
    justify-content: center;

    --icon-color: #fff;

    &__icon {
        margin-left: 1rem;
    }

    + .button {
        margin-top: 1rem;
    }
}