.navigator {
   display: flex;
   flex-direction: column;
}

.navigator-entry {
    padding: 0.5rem 1rem;
   
    &-1 {
        font-size: 1.1rem;
    }

    &-2 {
        padding-left: 2.5rem;
    }

    &-active {
        font-weight: bold;
    }
}