@import './../styles/variables';

$timeline-track-width: 6rem;
$timeline-width: 3px;
$timeline-color: #ccc;
$timeline-label-tick-width: ($timeline-track-width / 2) * 0.66;
$timeline-joint-size: 14px;

.timeline {
    position: relative;
    margin-left: $timeline-track-width * 2 / 3;
    margin-top: $timeline-track-width;
    margin-bottom: $timeline-track-width;
    padding-left: $timeline-track-width * 1 / 3;
    border-left: $timeline-width solid $timeline-color;

    &::before {
        content: " ";
        position: absolute;
        top: -$timeline-track-width;
        left: calc(#{-$timeline-track-width * 2 / 3} - #{$timeline-width});
        margin-left: $timeline-track-width * 2 / 3;
        padding-left: $timeline-track-width * 1 / 3;
        border-left-width: $timeline-width;
        border-left-style: dashed;
        border-image: linear-gradient(
            to bottom, 
            transparent, 
            $timeline-color
          ) 1 100%;
        width: $timeline-track-width;
        height: $timeline-track-width;
    }

    &__arrow {
        $icon-size: 2rem;

        position: absolute;
        bottom: calc(#{-$icon-size / 2} + 2px);
        left: calc(#{(-$timeline-track-width * 1 / 3) + ($icon-size / 2)} - #{$timeline-width} / 2);

        --icon-size: #{$icon-size};
        --icon-color: #{$timeline-color};
    }

    &__label {
        position: absolute;
        top: 0;
        left: -$timeline-track-width;
        font-size: 1.2rem;
        font-weight: bold;
        color: $timeline-color;
    
        &::before {
            content: " ";
            display: block;
            position: absolute;
            width: $timeline-joint-size;
            height: $timeline-joint-size;
            border-radius: 50%;
            background-color: $color-primary;
            left: calc(#{$timeline-track-width / 2} + #{$timeline-joint-size / 2});
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &__section {
        position: relative;
    }
}
