@import './../styles/variables';

$timeline-track-width: 4rem;
$timeline-width: 3px;
$timeline-color: darken($text-main, 45%);
$timeline-label-width: 3rem;
$timeline-joint-size: 15px;
$timeline-vertical-padding: 4%;

.timeline {
    position: relative;

    @media (max-width: 639px) {
        &__section {
            position: relative;
    
            h3:first-child {
                position: relative;
                
                &::before {
                    content: var(--year);
                    margin-right: 0.5rem;
                    color: $text-muted;
                    font-weight: 600;
                }
            }
        }
    }

    @media (min-width: 640px) {
        padding-left: $timeline-track-width + $timeline-label-width;
        padding-top: $timeline-vertical-padding;
        padding-bottom: $timeline-vertical-padding;

        &::after {
            content: " ";
            width: $timeline-width;
            height: 100%;
            position: absolute;
            top: 0;
            left: #{($timeline-track-width) / 2 + $timeline-label-width};
            background: linear-gradient(
                0deg,
                rgba($timeline-color, 0) 0%,
                rgba($timeline-color, 1) $timeline-vertical-padding,
                rgba($timeline-color, 1) #{100% - $timeline-vertical-padding},
                rgba($timeline-color, 0) 100%
            );
        }
    
        &__section {
            position: relative;
    
            h3:first-child {
                position: relative;
    
                &::after {
                    content: var(--year);
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translate(calc(-100% - #{$timeline-track-width}), -50%);
                    width: $timeline-label-width;
                    text-align: right;
                    color: $text-muted;
                    font-weight: 600;
                }
    
                &::before {
                    content: " ";
                    width: $timeline-joint-size;
                    height: $timeline-joint-size;
                    position: absolute;
                    background: $timeline-color;
                    border-radius: 50%;
                    left: 0;
                    top: 50%;
                    transform: translate(calc(-50% - #{$timeline-track-width / 2} + #{$timeline-width / 2}), -50%);
                }
            }
        }
    }
}
