@import './../styles/variables';
@import './../styles/mixins/scrollbar.scss';

@font-face {
    font-family: 'Avenir';
    font-weight: 400;
    font-style: normal;
    src: local('Avenir'),
        url('./../fonts/avenir-400.woff2') format('woff2');
    font-display: swap;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body {
    max-width: none;
    margin: 0;
    padding: 0;
    line-height: $line-height;
}

// Disable Opera's Video Dettach
html > div {
    display: none;
}

/*
body {
    background-color: $background-color;
    color: $color;
    font-family: 'Avenir';
    margin: 0;
    overflow: overlay;

    @include scrollbar;
}

a {
    text-decoration: none;
    color: $link-color;
    transition: 100ms color ease-in-out;

    &:hover {
        color: $link-color-hover;
    }
}

ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h5 {
    text-align: left;
    margin: 0 0 0.25rem 0;
}

p {
    text-align: left;
    margin: 0 0 1rem 0;
    line-height: 1.5;
}
*/