@import "./../styles/variables";

.layout {
    &__navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;

        background: linear-gradient(to bottom, $background 0%, $background-alt 100%);

        &__brand {
            font-size: 1.5rem;
            color: $text-bright;

            &:hover {
                text-decoration: none;
            }
        }
    }
}